@page "/addbookings"

<h3><b>Add Bookings</b></h3>

<br />

<div class="row">
    <div class="col-4">
        <AddBookingFormComponent BookingsMade="SetNewBookings"></AddBookingFormComponent>
    </div>
    <div class="col text-center">
        <AddBookingListComponent NewBookings="newBookings"></AddBookingListComponent>
    </div>
</div>

@code {
    private List<Booking> newBookings;

    private void SetNewBookings(List<Booking> bookings) {
        newBookings = bookings;
    }
}