@page "/"

<h3>@DateTime.Today.ToString("dddd, dd - MM - yyyy")</h3>

<br />

<MainPageTennisTableComponent></MainPageTennisTableComponent>

<br />

<MainPageSquashTableComponent></MainPageSquashTableComponent>