@page "/schedule"

<div class="row">
    <h3 class="col">Schedule</h3>
    <input type="date" min="2000-01-01" @bind-value="selectedDate" class="col" />
</div>

<br />

<SchedulePageTennisTableComponent SelectedDate="selectedDate"></SchedulePageTennisTableComponent>

<br />

<SchedulePageSquashTableComponent SelectedDate="selectedDate"></SchedulePageSquashTableComponent>

@code {
    public DateTime selectedDate;

    protected override void OnInitialized() {
        base.OnInitialized();
        selectedDate = DateTime.Today;
    }
}